@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --breakpoint-xs: 480px;
  --spacing-screen-dynamic: 100dvh;
  --spacing-screen-small: 100svh;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer base {
  html {
    color-scheme: light only;
  }
  
  body {
    color-scheme: light only;
  }
  
  /* Prevent Chrome from applying dark mode to any element */
  * {
    color-scheme: light only;
  }
}
@layer utilities {
  .h-dvh { height: 100dvh; }
  .min-h-dvh { min-height: 100dvh; }
  .h-svh { height: 100svh; }
  .min-h-svh { min-height: 100svh; }
}
html, body {
  color-scheme: light only;
}

* {
  color-scheme: light only;
}
@layer utilities {
  .text-copy {
    @apply mt-6 mb-8 text-base text-gray-600 dark:text-gray-400;
  }
  .responsive{
    @apply sm:bg-red-500 md:bg-orange-500 lg:bg-indigo-500 xl:bg-fuchsia-500 2xl:bg-lime-500
  }
}
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.gradient-text {
  background: linear-gradient(
    180deg,
    theme(colors.indigo.500) 30%,
    theme(colors.indigo.500) 50%,
    theme(colors.blue.400) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.clipper{
  background-color: red;
  clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
}
